<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	
	<connectionStrings>
		<add name="iSlaviciDB" connectionString="Server=127.0.0.1; Database=iSlavici; User Id=root; Password=root; Connection Timeout=30" providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	<appSettings>
		<!--CHECK CONNECTION INTERVAL(MILISECONDS)-->
		<add key ="CHECK_CONNECTION_INTERVAL" value="1000"/>

	</appSettings>
</configuration>